.App {
  text-align: center;
  color: #9CDCF1;
  background-color: #2D2B2B;
}

.App button {
  height: 5vh;
  width: 5vw;
  background-color: #9CDCF1;
  color: #2D2B2B;
}

.App button:hover {
  height: 5vh;
  width: 5vw;
  background-color: #2D2B2B;
  color: #9CDCF1;
  transition: 0.5s;

}

.App input {
  transition: 1s;
}

.headers {
  color: snow;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
